@font-face {
    font-family: 'Lo-Res';
    src: local('Lo-Res 9 Plus OT Wide Regular'), local('Lo-Res-9-Plus-OT-Wide-Regular'),
        url('LoRes9PlusOTWide-Regular.woff2') format('woff2'),
        url('LoRes9PlusOTWide-Regular.woff') format('woff'),
        url('LoRes9PlusOTWide-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }