@media only screen and (max-width: 600px) {
  .collapsable-pics {
    display: grid;
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 20px;
    gap: 10px;
    max-width: 100%;
    justify-items: center;
    grid-template-areas:
      "dona"
      "astronaut"
      "roman";
  }
  .collapsable-pic {
    width: 80% !important;
    margin: 0;
  }

  .display-info_header {
    h2.display-info_number {
      font-size: 3vw;
    }
  }
}
@media only screen and (min-width: 600px) {
  .collapsable-pics {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    gap: 20px;
    max-width: 100%;
    justify-items: center;
    grid-template-areas:
      "dona"
      "astronaut"
      "roman";
  }
  .collapsable-pic {
    width: 80% !important;
    margin: 0;
  }
}

@media screen and (min-width: 720px) {
  .collapsable-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    grid-template-areas: "dona astronaut roman";
  }
  .collapsable-pic {
    width: 95%;

    margin: 0;
  }
  h2.display-info_number {
    font-size: 1.5vw !important;
  }
}
@media only screen and (min-width: 992px) {
  .collapsable-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "dona astronaut roman"
      "dona astronaut roman"
      "dona astronaut roman";
  }
  .collapsable-pic {
    width: 95%;

    margin: 0;
  }
}

.collapsable-pics {
  padding: 0;
  align-items: center;
}
.ape-pic {
  border: var(--c3) 0.25vw solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ape-pic:nth-child(n + 1) {
  grid-area: dona;
}
.ape-pic:nth-child(2) {
  grid-area: astronaut;
}
.ape-pic:nth-child(3) {
  grid-area: roman;
}
@media only screen and (max-width: 600px) {
  .collapsable-pics {
    display: grid;
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 20px;
    gap: 10px;
    max-width: 100%;
    justify-items: center;
    grid-template-areas:
      "dona"
      "astronaut"
      "roman";
  }
  .collapsable-pic {
    width: 50%;

    margin: 0;
  }
}
@media only screen and (min-width: 600px) {
  .collapsable-pics {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    gap: 20px;
    max-width: 100%;
    justify-items: center;
    grid-template-areas:
      "dona"
      "astronaut"
      "roman";
  }
  .collapsable-pic {
    width: 40%;

    margin: 0;
  }
}

@media screen and (min-width: 720px) {
  .collapsable-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas: "dona astronaut roman";
  }
  .collapsable-pic {
    width: 95%;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .collapsable-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "dona astronaut roman"
      "dona astronaut roman"
      "dona astronaut roman";
  }
  .collapsable-pic {
    width: 95%;

    margin: 0;
  }
}
.collapsable-pic {
  border-radius: 1vw;
}
.collapsable-pic_ape {
  border-radius: 1vw;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.display-info {
  display: block;
  width: 80%;
}

.display-info_header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.display-info_number {
  margin-top: 0;
}
.collapsable-pics {
  padding: 0;
  align-items: center;
}
.collapsable-pic {
  border: var(--c3) 0.25vw solid;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.collapsable-pic:nth-child(n + 1) {
  grid-area: dona;
}
.collapsable-pic:nth-child(2) {
  grid-area: astronaut;
}
.collapsable-pic:nth-child(3) {
  grid-area: roman;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}
.stats-item {
  border-radius: 0.25vw;
  width: 100%;
  padding: 0.2vw;
  margin-bottom: 2.5%;
}
.stats-item_inner p {
  margin: 0;
  border-radius: 0.25vw;
}
.stats-item_inner {
  border-radius: 0.25vw;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.stats-item-img {
  display: flex;
  padding-right: 0.5vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  img {
    height: 2.5vw;
    border: black 1px solid;
  }
}

.stats-item:nth-child(1) {
  border: var(--mythic) 1px solid;
  .stats-item_inner {
    background-color: var(--mythic);
  }
}
.stats-item:nth-child(2) {
  border: var(--uncommon) 1px solid;
  .stats-item_inner {
    background-color: var(--uncommon);
  }
}

.stats-item:nth-child(3) {
  border: var(--common) 1px solid;
  .stats-item_inner {
    background-color: var(--common);
  }
}

.stats-item:nth-child(4) {
  border: var(--common) 1px solid;
  .stats-item_inner {
    background-color: var(--common);
  }
}

.stats-info {
}
.stats-info p {
  margin-left: 0.3vw;
}
.stats-row {
  padding: 0.3vw;
  display: flex;
  align-items: center;
}
.stats-icon {
  height: 0.7vw;
}
.stats-column {
  padding: 0.3vw;
}
.stats-info_text {
  font-family: var(--content-font);
}

p.stats-info_text {
  font-size: 0.5vw !important;
}

p.stats-info_header {
  font-size: 0.5vw !important;
  margin-top: 1px;
}
.display-info_header {
  margin-top: 1vw;
  p,
  h2 {
    font-size: 1vw !important;
    margin-bottom: 0;
  }
}
